
*{
    margin: 0;
    padding: 0;
}

img {
    display: inline-block;
    vertical-align: top;
}

clear {
    clear: both;
    width: 0;
    height: 0;
}
header#header {

}

header#header .gh-content {
    margin-right: auto;
    margin-left: auto;
    width: 1130px;
    padding-right: 30px;
    padding-left: 30px;


}


header#header .speacial {
    border-bottom: 1px solid #e4e8eb;
}


header#header .group {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}


header#header .group nav.navigation {
    float: left;
}


header#header .weather {
    float: right;
}

header#header .group .content-area::after {
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
}

#contents {
    min-height: calc(100vh - 714px);
    margin-right: auto;
    margin-left: auto;
    width: 1130px;
    padding: 20px 30px;

}

#contents main#main {
    float: left;
}

#contents aside#aside {
    float:  right;
}

#contents::after {
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
footer#footer {

    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}

footer#footer .gf-comtent {

    margin-right: auto;
    margin-left: auto;
    width: 1130px;
    padding: 20px 30px;
